# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Django uploads
media/
materials/
uploads/
*.pdf

# SQLite (optional)
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
